
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/FrontPageLayout.cshtml";
}

<section class="wpb_row row-fluid section-padd bg-transparent row-has-fill">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-6">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <h2 class="custom_heading text-dark">INICIO<br>DE SESIÓN</h2>
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <a href="@Url.Action("SignUp","Home")">Crear una cuenta</a>
                                <br>
                                <a href="@Url.Action("RetrievePassword", "Home")">¿Olvidó su contraseña?</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column column_container col-sm-6">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div role="form" class="wpcf7" id="wpcf7-f1626-p1530-o1" lang="es-mx" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="@Url.Action("Dashboard", "Home")" method="post" class="wpcf7-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" required="" placeholder="Correo Electrónico">
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="password" name="password" id="password" value="" size="40" class="wpcf7-form-control wpcf7-validates-as-required" required="" aria-invalid="false" placeholder="Contraseña">
                                        </span>
                                    </div>
                                </div>
                                <p>
                                    <input type="submit" value="INGRESAR" class="wpcf7-form-control wpcf7-submit btn">
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

